.feedbackItem {
    border-radius: 2px;
    transition: transform 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:hover {
        transform: scale(1.01);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .block {
        display: block;
        background-color: #fff;
        padding: 28px;
        color: rgba(0, 0, 0, 0.5);
    }
}

.item {
    display: flex;

    .place-center {
        width: 20%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &-content {
        width: 80%;
        text-align: left;
        position: relative;

        &-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 4px;
            text-align: left;
        }

        &-text {
            font-size: 12px;

            .more {
                display: none;
            }
        }

        .btn-more {
            // left: 0;
            // right: 0;
            font-size: 12px;
            width: fit-content;
            //position: absolute;

            border: none;
            background: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }
    }

}