.feedbackItem {
  border-radius: 4px;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &:hover {
    transform: scale(1.01);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .block {
    display: block;
    background-color: #fff;
    padding: 28px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.expanded {
    height: 120px;
    overflow: hidden;
    //transition: all 1s ease-out;
}
.expanded.active {
    max-height: 500px;
    //transition: all 1s ease-in;
}


.item {
  display: flex;
  justify-content: space-around;

  .place-center {
    width: 15%;
    margin-right: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &-content {
    width: 80%;
    text-align: left;
    //margin-left: 4px;

    &-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 4px;
      text-align: left;
    }

    &-text {
      font-size: 12px;

      .more {
        display: none;
      }
    }

    .btn-more {
      font-size: 12px;
      width: fit-content;
      border: none;
      background: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
  }
}


.wrapper {
  width: 600px;
  margin: 20px auto;
}

.desc-wrapper {
  margin: 0 auto;
  margin-bottom: 15px;
  max-height: 120px;
  overflow: hidden;
}

/* Only display 'more' to begin with */
.more-info .less,
.more-info.expand .more {
  display: none;
}
.more-info.expand .less {
  display: inline;
}

/* Misc, just to make things look a bit prettier */
.more-info:focus {
  outline: none;
}
span.glyphicon {
  margin-left: 3px;
}