@import "./utilities/variables";

.disabled {
    pointer-events: none;
    cursor: default;
}

.wrapper {
    position: relative;
    .imageBg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        transition: .5s ease;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    .middle {
        top: 60%;
        left: 50%;
        opacity: 0;
        text-align: center;
        position: absolute;
        transition: .5s ease;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        &-title{
            font-size: 16px;
            font-weight: 400;   
            margin-bottom: 50px;
            white-space: nowrap;
            color: $primary-white;
        }
        &-readmore{
            width: 120px;
            font-size: 14px;
            font-weight: 400;            
            border-radius: 2px;
            padding: 12px 20px;
            color: $primary-white;
            background-color: transparent;
            border: 2px solid $primary-white;
        }
    }
    .image{
        -webkit-filter: blur(0);
        filter:  blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &:hover .image {
        -webkit-filter:  blur(1px);
	    filter:  blur(1px);
    }

    &:hover .imageBg{
        opacity: 1;
    }

    &:hover .middle {
        opacity: 1;
    }
        
}