@import "./utilities/variables";

.contact-title {
  color: $primary-green;
  font-size: 1.3rem;
  font-weight: 600;
  color: $primary-green;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="checkbox"] {
    /* CSS 屬性讓 checkbox 變成圓形 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 11px;
    border: 1px solid #ccc;
    margin: 0;
    cursor: pointer;

    &:checked {
      background-color: #d2d2d1;
    }
  }

  label {
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    width: 80%;
  }
}

.sruveysideTitle {
  font-size: 12px;
}

.surveyGrid {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    //向右靠攏
    //margin-left: 12rem;
    background-color: $primary-white;
    border-radius: 10px;
    margin: 60px;

    .text {
      grid-area: text;
      margin-left: 2rem;
    }

    .gridImg {
      grid-area: image;
      width: 100%;
      height: 100%;
      //border-radius: 5px;
      border-radius: 0 10px 10px 0;
      //padding: 80px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }
    }

    .survyList {
      &-input {
        display: flex;
        .sruveyside {
          &-Title {
            &::after {
              content: "*";
              color: #dc3545;
            }
          }

          &-TitleE {
            font-size: 8px;
          }
        }
      }
      &-input label {
        width: 30%;

        + input {
          width: 70%;
          border-radius: 5px;
          margin-right: 20px;
          border: solid 1px $light-gray;
          background-color: $primary-white;
        }
      }
    }
  }
}

.checkboxSurvey {
  &-style {
    margin-left: 1rem;
  }
}

.surveySelectTitle {
  width: 35%;
}

.inputflexStyle {
  display: flex;
  align-items: center;
}

@media (max-width: 1500px) {
  .survyList-input{
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    
  }
  .sruveyside {
    text-align: left;
  }
}


@media (max-width: 900px) {
  .surveyGrid {
    &-container {
      display: inline-block;
      // grid-template-columns: 1fr;
      // grid-template-rows: 3fr 7fr;
      // grid-template-areas: "image" "text";
      // grid-column-gap: 0px;
      // grid-row-gap: 0px;
    }
    &-container .gridImg img{
      border-radius: 0 0 10px 10px;
    }
    // .text {
    //   order: 2;
    // }

    // img {
    //   order: 1;
    // }
  }
}
